{% extends "player/base.html" %} 
{% block app_content %}
{% load player_index %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'player/style.css' %}">

<br><br>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'posts:discussion' question.id %}">{{ question.question_text }}</a>
            {% with new_posts=question.has_recently_added_posts %}
            {% if new_posts %}
            <span class="badge bg-warning text-dark">{{ new_posts.count }}</span>            
            {% endif %}
            {% endwith %}
        </li>
    {% empty %}
    <p>No questions are available.</p>    
    {% endfor %}
    </ul>
{% endif %}

<figure>
    <figcaption>Listen to the station:</figcaption> 
    <audio id="player" autoplay controls src="{{tracklist|player_index:0}}"
     type="audio/mpeg">         
    </audio>        
</figure>


{{ tracklist|json_script:'tracklist_id' }}
<script type="text/javascript" src="{% static 'player/js/track_changer.js' %}"></script>

{% endblock app_content%}