li a {
    color: #F6CF57;
    text-decoration: none;
    outline: none;

}
a {
    color: #F6CF57;
    text-decoration:none; 
    cursor:pointer; 

}
a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

body {
    background: url("images/background.75d2b6c128c1.gif") no-repeat;
    background-size:cover; 
    color: #F6CF57;
}

figure {
   
  position:fixed;
  width:200px;
  height:150px;
  
  left:760px;
  top:200px;;
}

figcaption {
    color: whitesmoke;
}

.table {
    color:  #F6CF57;
    border:1px ;

}

.alert {
    positition: relative;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: visibility 0s, opacity 250ms, transform 250ms;
}
.alert.hide {
    positition: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px); // translateX, translateY, translateZ works well
    transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
}

textarea {
  color: #000000 !important;  
  opacity: 0.4;
  
    }

textarea:hover {
    color:#000000 !important; 
    opacity: 1; 
    cursor:pointer;
     
}
