{% extends "player/base.html" %} 

{% block title %}<title>Login</title>{% endblock %}
{% load crispy_forms_tags %}

{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/auth_style.css' %}">

<div class="ps-5">
<p class="fs-1">Log In</p>
<div class="col-md-3">
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <br>
  <button type="submit" class="btn btn-outline-info">Log In</button>
</form>
</div>
<br>
<p class="fs-5">Forgot a password? <a href="{% url 'accounts:reset_password' %}">Reset it</a></p>
</div>

{% endblock %}
