{% extends "player/base.html" %} 
{% block title %}<title>Email Sent</title>{% endblock %}

{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/auth_style.css' %}">
<br>
<div class="ps-5"> 
<div class="col-md-4">   
  <p class="fs-2">Password reset sent. Check your inbox.</p>
  <p class="fs-4">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
<p class="fs-5">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div></div>
{% endblock %} 
