{% extends "player/base.html" %} 
{% block title %}<title>Enter new password</title>{% endblock %}
{% load crispy_forms_tags %}
{% block app_content %}
{% if validlink %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/auth_style.css' %}">

<div class="ps-5">
<h1>Password Reset Form</h1>
<p class="fs-4">Please enter your new password so we can verify.</p>

<div class="col-md-3">
<form method="POST">
  {% csrf_token %}
  {{ form | crispy }}
  <input type="submit" class="btn btn-outline-info" value="Change my password">
</form>
</div>
{% else %}
  <p class="fs-4">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
</div>
{% endblock %}
 
