{% extends "player/base.html" %} 
{% block title %}<title>Forgot Your Password?</title>{% endblock %}
{% load crispy_forms_tags %}

{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/auth_style.css' %}">

<div class="ps-5">
  <p class="fs-2">Forgot your password?</p>
  <div class="col-md-4">
  <p class="fs-4">Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>
<br/>
<div class="col-md-3">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn btn-outline-info" value="Send me instructions!">
  </form><br/>
</div></div>
{% endblock %} 
