{% extends "player/base.html" %} 
{% block title %}<title>Sign Up</title>{% endblock %}
{% load crispy_forms_tags %}
{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/auth_style.css' %}">

<div class="ps-5">
<p class="fs-1">Sign up</p>
<div class="col-md-3">
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{ form | crispy}}
  <br>
  <button type="submit" class="btn btn-outline-info">Sign Up</button>
</form>
</div></div>
{% endblock %} 
