{% extends "player/base.html" %}

{% block title %}<title>Ask a public</title>{% endblock %}
 

{% load crispy_forms_tags %}
{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">

<div class="container">
<br><br>

<legend><h1>Ask a public</h1></legend>

<form action="" method="post">
{% csrf_token %}
<div class="col-md-9 mb-0">
	{{ form.question | as_crispy_field }}
</div>
<div class="row">
	<div class="form-group col-md-3 mb-0">
		{{ form.choice_text_1 | as_crispy_field }}
	</div>
	<div class="form-group col-md-3 mb-0">
		{{ form.choice_text_2 | as_crispy_field }}
	</div>
	<div class="form-group col-md-3 mb-0">
		{{ form.choice_text_3 | as_crispy_field }}
	</div>		
</div>
<input type="submit" class="btn btn-outline-warning" value="Submit">
</form>
</div>
{% endblock%}

