{% extends "player/base.html" %}
{% block title %}<title>Edit post</title>{% endblock %}
{% load crispy_forms_tags %}
{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">

<div class="col-md-3 ms-3">
<h1>Edit Post</h1>
<h3>{{ object.question.question_text }}</h3>
<form action="" method="post">
{% csrf_token %}
{{ form | crispy }}
<br>
<button class="btn btn-info ml-2" type="submit">Update</button>
</form>
</div>
{% endblock app_content %}
