{% extends "player/base.html" %}
{% block title %}<title>Discussion</title>{% endblock %}
{% load crispy_forms_tags %}
{% block app_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">

<div>
{% include 'posts/_message.html' %}
</div>

<div class="container1"> 
<div class="ps-5">
<form action="{% url 'posts:vote' question.id %}" method="post">
    {% csrf_token %}
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="form-check">
        {% for choice in question.choice_set.all %}
            <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label class="form-check-label" for="choice{{ forloop.counter }}">
            {{ choice.choice_text }}</label><br>
        {% endfor %}
            <input type="submit" class="btn btn-outline-info" value="Vote">
    </div>
</form>
</div>
</div>


<br>
<div class="container2">
    <div class="ps-3">
        <div class='col-md-5'>        
    {% if posts %}
        <table class="table table-transparent">
        {% for post in posts %} 
            <tr>
                <td style="width: 100px; height: 100px;">
                    {% if post.user.avatar %}
                        <img class="avatar" src="{{ post.user.avatar.url}}"> 
                    {% else %}
                        <img class="avatar" src="/media/avatars/default.jpg">
                    {% endif %}
                </td>
                <td>
                    <p class="fs-6"> <span class="text-muted">
                    <a href="{% url 'accounts:profile' post.user.id %}">
                    {{ post.user.username }}</a> at {{ post.timestamp }}:</span></p>
                    <p class="fs-5">{{ post.body }}</p>

                    {% if user.id == post.user.id%}
                    <p> <span class="text-muted">
                    <a href="{% url 'posts:edit_post' post.id %}?next={{ request.path }}">Edit</a>
                    <a href="{% url 'posts:delete_post' post.id %}?next={{ request.path }}">Delete</a></span></p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}    
        </table>
    {% else %}
        <p class="fs-4">No posts are available.</p>
        <hr>
    {% endif %}
</div></div></div>

<div>
{% if posts %}
    {% include 'posts/_pagination_posts.html' %}
    <br>
{% endif %}
</div>


<div class="container3"> 
<div class="ps-5">
    {% if user.is_authenticated %}
    <form action="{% url 'posts:add_post' question.id %}" method="post">
        {% csrf_token %}
        <legend><h3>Make a post:</h3></legend>
        {% if error_message_post %}<p><strong>{{ error_message_post }}</strong></p>{% endif %}
        <div class="form col-md-4">              
        {{ addpost_form | crispy }}
        </div>
        <input type="submit" class="btn btn-outline-info" value="Publish">
        </form>
    {% else %}
        <p class="fs-2"><a href="{% url 'accounts:login' %}">Log In</a> for a posting </p>
    {% endif %}
</div></div>

{% endblock app_content%}

